<!DOCTYPE html>
<html lang="en">
    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

    <div class = "titulo">
        <h1>CARRITO DE COMPRAS</h1>
    </div>
    <!-- Se declara un solo producto a modo de ejemplo-->

    <% for(let compra of comprados) {%> 
    <section class = "carrito">
        <div class = "contenedorProductos">
            <div class = "contenedorUnProducto">
                <div class = "fotoProducto">
                    <img class = "imagen" src = "/img/<%= productos.image%>" alt = "foto producto">
                </div>
                <div class = "infoProducto">
                    <div class = "nombreModelo"><%= productos.name%>
                    </div>
                    <div class = "talle">Talle: M
                    </div>
                    <div class = "color">Color: Morado
                    </div>
                    <div class = "precio"><%= productos.precio%>
                    </div>
                    <div class = "cantidadProducto">
                        <label for = "cantidad">CANTIDAD</label>
                        <select name = "cantidad" id = "cantidad">
                            <option value = "uno">1</option>
                            <option value = "dos">2</option>
                            <option value = "tres">3</option>
                        </select>
                    </div>
                </div>
                <div class = "eliminar">
                    <a href = "#"><i class="fas fa-trash-alt"></a></i>
                </div>
            </div>
        </div>
        <% } %>

        <div class = "contenedorResumen">
            <div class = "suma">
            <div>
                <input type = "text" name = "cupon" id = "cupon" placeholder="Cupón de descuento">
                <label for = "cupon">APLICAR</label>
            </div>
            <div class = "subtotal">
                $15.000
            </div>
            <div class = "descuentoAplicado">
                - $4.000
                <!-- Esto no tendría que aparecer si no hay un descuento-->
            </div>
            <div class = "total">
                $11.000
            </div>
            <div class = "comprar">
                <button class = "botonComprar" type = "submit"><a href = "/home">FINALIZAR COMPRA</a></button>
            </div> <!-- Acá debería llevar al pago-->
            <div class = "seguirComprando">
                <button class = "botonSeguirComprando" type = "submit"><a href = "/home">SEGUIR COMPRANDO</a></button> <!--Acá en realidad debería llevar a los productos-->
            </div>
            </div>
        </div>    
    </section>
      <!-- footer-->
      <%- include('./partials/footer.ejs') %>    
</body>
</html>