<!DOCTYPE html>
<html lang="en">
 
    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>
 

    <div class = "titulo">
        
        <h1>CARRITO DE COMPRAS</h1>
        
    </div>
    <div class = linea></div>
    <!-- Se declara un solo producto a modo de ejemplo-->

    <% for(let compra of comprados) {%> 
    <section class = "carrito">
        <div class = "contenedorProductos">
            <div class = "productoUno">
                <div class = "fotoProducto">
                    <img class = "imagen" src = "/img/<%=compra.image%>" alt = "foto producto">
                </div>
                <div class = "infoProducto">
                    <div class = "nombreModelo"><%= compra.name%>
                    </div>
                    <div class = "talle">Talle: M
                    </div>
                    <div class = "color">Color: Morado
                    </div>
                    <div class = "precio"><%= compra.precio%>
                    </div>
                    <div class = "cantidadProducto">
                        <label for = "cantidad">CANTIDAD</label>
                        <select name = "cantidad" id = "cantidad">
                            <option value = "uno">1</option>
                            <option value = "dos">2</option>
                            <option value = "tres">3</option>
                        </select>
                    </div>
                </div>
                <div class = "eliminar">
                    <a href = "#"><i class="fas fa-trash-alt"></a></i>
                </div>
            </div>
        </div>
        <% } %>

        <div class = "contenedorResumen">
            <div class = "descuento">
                <p class = "cuponPregunta">¿Tenés un cupón de descuento?</p>
                <span class = "cuponDescuento">
                    <input type = "text" name = "cupon" id = "cupon" placeholder="Cupón de descuento">
                    <button>APLICAR</button>
                </span>
            </div>
            <div class = "suma">
                <div class = "subTotal">
                    <div class = "sumaSubtotal">
                        <p class = "textoSubtotal">SUBTOTAL</p>
                        <p class = "precioSubtotal">$15.000</p>
                    </div>
                </div>
                <div class = "total">
                    <div class = "sumaTotal">
                        <p class = "textoTotal">TOTAL</p>
                        <p class = "precioTotal">$15.000</p>
                    </div>
                </div>
            </div>
            <div class = "comprar">
                <button class = "botonComprar" type = "submit"><a href = "/home">FINALIZAR COMPRA</a></button>
            </div> <!-- Acá debería llevar al pago-->
            <div class = "seguirComprando">
                <button class = "botonSeguirComprando" type = "submit"><a href = "/home">SEGUIR COMPRANDO</a></button> <!--Acá en realidad debería llevar a los productos-->
            </div>
        </div>    
    </section>
      <!-- footer-->
      <%- include('./partials/footer.ejs') %>    
</body>
</html>