<!DOCTYPE html>
<html lang="en">
 
    <!-- head-->    
    <%- include('./partials/head.ejs') %>
    <title>Ingresar</title>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

    <main class = "login">
        
        <div id="errores">
            <ul>
                
            </ul>
        </div>



        <form action = "/user/login" method = "POST">
            <div>
                <h2>INGRESÁ</h2>
            </div>
            <div class = "datos">
                <div>            
                    <label for = "email">EMAIL</label>
                    <input type = "email" name = "email" id = "email">
                    <% if(locals.errors && errors.email){ %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>
                <div>
                    <label for = "password">CONTRASEÑA</label>
                    <input type = "password" name = "password" id = "password">
                    <% if(locals.errors && errors.password){ %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                </div>
            </div>
            <div class = "olvidoContraseña">
                <p><a href="/recuperar-contrasenia">¿Olvidaste tu contraseña?</a></p>
            </div>
            <div class = "recordar">
                <input type = "checkbox" name = "rebemberUser">
                <label for = "rebember">Recordar contraseña</label>
            </div>
            <div class = "ingresar">  
                <button class = "botonIngresar" type = "submit">INGRESAR</button>
            </div>
            <div class = "registrate">
                <p>¿No tenés cuenta? <a href="/register">Registrate ahora</a></p>
            </div>
        </form>
    </main>

         <!-- footer-->
         <%- include('./partials/footer.ejs') %>  

         <script src="/js/validatorLogin.js"></script>

</body>
</html>