<!DOCTYPE html>
<html lang="es">

    <!-- head-->
    <%- include('./partials/head.ejs') %>

<body>

    <!-- header-->
    <%- include('./partials/header.ejs') %>

    <main class = "products">
        <h2 class = "title-page">NOMBRE TIPO PRENDA</h2>

        <div class = "nuevoProducto">
            <form action="/"" method="POST" >
                <button type="submit" class = "botonCrear">CREAR PRODUCTO</button>
            </form>
        </div>

        <div class="container-products">
    
            <% for( const producto of productos) { %>

                <article>
                    <a href="/productos/details/<%= producto.id %>">
                        <img src="/img/<%=producto.image %>" alt="image-product">
                            <div class="description-products" >
                                <p><%= producto.name %></p>
                                <p>$<%= producto.price %></p>
                            </div> 
                    </a>                   
                </article>            

            <% } %>
        </div> 
    </main>    
     <!-- footer-->
     <%- include('./partials/footer.ejs') %>            
    </body>
</html>
