<!DOCTYPE html>
<html lang="es">

    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

    <main class = "editarProducto">
        <h1>EDITAR PRODUCTO</h1>
        <div class="container-products">
            <div>
				<h2 class="products-title">Estás editando: <i><%= productoToEdit.name %></i></h2>
			</div>
            
            <form action="/productos/edit/:id?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="div-1">
						<label for="name">NOMBRE DEL PRODUCTO</label>
						<input type="text" id="name" name="name" value="<%= productoToEdit.name %>" placeholder="Ej: Campera Negra" class="form-input">
                </div>
            </form>

            <form action="/productos/edit/:id?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="div-1">
						<label for="price">PRECIO DEL PRODUCTO</label>
						<input type="text" id="price" name="price" value="<%= productoToEdit.price %>" placeholder="$5600" class="form-input">
                </div>
            </form>

            <form action="/productos/edit/:id?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="div-1">
                    <label for = "color">COLOR</label>
                    <select name = "color" id = "color">
                        <option value = "GREEN" <%= (productoToEdit.color == "GREEN")? "selected":"" %> >OXI GREEN</option>
                        <option value = "GOLD" <%= (productoToEdit.color == "GOLD")? "selected":"" %> >GOLD</option>
                        <option value = "PINK" <%= (productoToEdit.color == "PINK")? "selected":"" %>  >DUSTY PINK</option>
                        <option value = "BLACK" <%= (productoToEdit.color == "BLACK")? "selected":"" %>  >BLACK</option>
                    </select>
                </div>
                <div class="div-1">
                    <label for = "size">TALLE</label>
                    <select name = "size" id = "size">
                        <option value = "XS" <%= (productoToEdit.size == "XS")? "selected":"" %> >XS</option>
                        <option value = "S" <%= (productoToEdit.size == "S")? "selected":"" %> >S</option>
                        <option value = "M" <%= (productoToEdit.size == "M")? "selected":"" %> >M</option>
                        <option value = "L" <%= (productoToEdit.size == "L")? "selected":"" %> >L</option>
                        <option value = XL" <%= (productoToEdit.size == "XL")? "selected":"" %> >XL</option>
                        <option value = "XXL" <%= (productoToEdit.size == "XXL")? "selected":"" %> >XXL</option>
                    </select>
                </div>
            </form>

            <form action="/productos/edit/:id?_method=PUT" method="POST" enctype="multipart/form-data">
                <div  class = "div-1">
                    <label for="foto">SUBIR IMAGEN</label>
                    <input type="file" id="foto" name="fotoProducto" class="form-input">
                </div>
            </form>
		    <div class = "guardar">
			    <button class = "botonGuardar" type="submit">GUARDAR CAMBIOS</button>
		    </div>
            <div class = "eliminar">
                <form action="/productos/delete/<%=productoToEdit%>?_method=DELETE" method="POST" >
                    <button type="submit" class = "botonBorrar">ELIMINAR</button>
                </form>
            </div>
        </div>    
    </main>    

          <!-- footer-->
          <%- include('./partials/footer.ejs') %>  

</body>
</html>