<!DOCTYPE html>
<html lang="en">
 
    <!-- head-->    
    <%- include('./partials/head.ejs') %>
    <title>Mi cuenta</title>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

<main class = "userProfile">   
    <h1>Este es el perfil de <%= locals.userLogged.name%> <%= locals.userLogged.lastName%></h1>

    <div class = "fotoPerfil">
        <img class = "imagen" src = "/img/profile/avatar_default.png" alt = "foto perfil">
    </div>

    <form action = "/user/logout" method = "GET">
        <div class = "cerrarSesion">  
            <button class = "botonSalir" type = "submit">CERRAR SESIÓN</button>
        </div>
    </form>

    <form action = "/user/edit/<%= locals.userLogged.id %>" method = "GET">
        <div class = "updateUsuario">  
            <button class = "botonSalir" type = "submit">MODIFICAR DATOS</button>
        </div>
    </form>

</main> 


         <!-- footer-->
         <%- include('./partials/footer.ejs') %>  

</body>
</html>